body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #22cdab;
}

.header_text {
    font-family: 'StardewValley', sans-serif;
    font-size: 60px;
    font-weight: Normal;
    color: white;
    text-align: center;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'StardewValley';
    src: url('Stardew-Valley-Regular.ttf') format('truetype');
}
